*
{
    padding: 0%;
    margin: 0%;
}

#verde 
{
    color: rgb(13, 132, 13); 
}

#blanco 
{
  
    color: white; !important
}

#gris
{
    color: gray;
}

#carru
{
    filter: brightness(60%);
  
}

#footer
{
    color: white; !important
}
